
**/*.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
raycast-test/.vs/raycast-test/v15/.suo
raycast-test/raycast-test/.vscode/.ropeproject/objectdb
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/RaycastTest/v15/.suo
raycast-test/UpgradeLog.htm
raycast-test/raycast-test/.vscode/.ropeproject/config.py
raycast-test/raycast-test/.vscode/launch.json
